body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
body::-webkit-scrollbar {
  display:none;
}
p, span, h3 {
  text-align: center;
}

.header {
  position:fixed;
  height: 80px;
  background-color: #96DB60;
  width:100%;
  display:grid;
  grid-template-columns: 200px 1fr;
  align-items: center;
  top:0;
  z-index: 100;
}
.header > p {
  cursor:pointer;
  color: rgb(245, 245, 228);
  font-size: 24px;
}
.header > a {
  text-decoration:none;
  color: #f5f5e4;
  font-size: 24px;
}
#about-us {
  height: 120px;
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  background-color: rgb(215, 215, 198);
}

/*#region HomePage*/
.home {
  margin-top: 80px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  height: 100vh;
}
.home::-webkit-scrollbar {
  display:none;
}
.div-element {
  height: calc(100vh - 80px);
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  background-color: rgb(245, 245, 228);
}
.txtDiv {
  width:50%;
  margin:auto;
}
.txtDiv p{
  text-align: left;
}
.imgdiv {
  width:45vw;
  height: 80%;
  border: 5px solid #96DB60;
  border-radius: 10vw 0 10vw 0;
  margin-right: 5vw;
  overflow: hidden;
}
.imgdiv img {
  width:100%;
  height:100%;
  object-fit: cover;
}
/*#endregion HomePage*/

/*#region Quiz*/
.quiz-cont {
  border: 3px solid #96DB60;
  border-radius: 10px;
  width:50vw;
  max-width:700px;
  justify-content: center;
  display: grid;
}
.quiz {
  margin-top: 80px;
}

.buttons > button, .buttons-last > button, .nextButton > button {
  cursor: pointer;
  width: 12.5vw;
  height:5vw;
  min-height:50px;
  min-width:125px;
  max-width: 175px;
  max-height:70px;
  text-align: center;
  padding:0;
  font-size:80%;
  border:none;
  background-color: #96DB60;
  color: rgb(245, 245, 228);
}
.buttons > button:hover, .nextButton > button:hover {
  background-color: rgba(150, 219, 96, 80%);
  transition: background-color 0.25s ease-in-out;
}

/*#region Info*/
form {
  display: grid;
  grid-template-rows: repeat(1fr,5);
  height: 60vh;
  width: 40vw;
  max-width: 600px;
}
form label {
  display:grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin:  5vh 0 5px 0;
  justify-content:space-between;
}
form select, form input {
  background: transparent;
  border:none;
  border-bottom: 1px solid black;
  outline:none;
  font-size: 16px;
}
select option {
  background: rgb(245, 245, 228);
  border:none
}
.quiz-cont button {
  margin-bottom: 5vh;
}
.nextButton {
  width:100%;
  display:flex;
  justify-content: end;
  margin-top:5px;
}

/*#endregion Info*/
/*#region Goal*/
.radios {
  display:grid;
}
.radios .radio, .div-butt {
  margin:  5vh 0 5px 0;
  cursor: pointer;
  border-radius: 10px;
  border:3px solid rgba(150, 219, 96,80%);
  margin: 10px 0 10px 0;
  width: 40vw;
  height: 20vh;
  min-width: 350px;
  min-height:50px;
  max-height: 80px;
  max-width:500px;
}
.radios h3 {
  font-size: 30px;
}
.radios input {
  display:none;
}

.radios input:checked + .radio {
  background-color: rgba(150, 219, 96,80%);
  color:rgb(245, 245, 228);
  max-width: 506px;
  min-height:86px;
  width:  calc(40vw + 6px);
  height: calc(20vh + 6px);
  transition: background-color 0.5s ease-in-out;
  border:none;
}

.radios label,.div-butt {
  display:flex;
  align-items: center;
  justify-content: center;
}
.buttons {
  margin-top:3vh;
  width: 100%;
  height: 100%;
  display:flex;
  justify-content:space-between;
}

/*#endregion Goal*/
/*#region Restrictions*/

.buttons-last {
  width: 100%;
  display:flex;
  justify-content:space-between;
  margin-top:20px;
}
.cont {
  display:grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.container {
  display:grid;
  grid-template-rows: repeat(1fr,6);
  row-gap: 5px;
}
.container span {
  font-size: 18px;
}
.clicked-div {
  background-color: rgba(150, 219, 96,80%);
  color:rgb(245, 245, 228);
  max-width: 506px;
  min-height:86px;
  width:  calc(40vw + 6px);
  height: calc(20vh + 6px);
  transition: background-color 0.5s ease-in-out;
  border:none;
}
/*#endregion Restrictions*/
/*#endregion Quiz*/
